#board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: fit-content;
  padding: 10px;

  margin: auto;
  border-radius: 10px;
}

.row {
  display: flex;
}

.cell {
  width: 50px;
  border-radius: 10px;
  height: 50px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  box-shadow: rgba(37, 37, 57, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.cell:hover {
  background-color: rgb(222, 162, 162);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#inputdiv {
  margin: auto;

  width: fit-content;
  padding: 10px;
}

.inputitems{
  padding: 5px;
  border-radius: 10px;

}