<!DOCTYPE html>
<html>
  <head>
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="./game.css">
  </head>
  <body>
    <div class="container">
      <h1>Tic Tac Toe: <%= game.name %></h1>
      <div class="row">
        <div class="col-xs-4"><%= game.board[0] %></div>
        <div class="col-xs-4"><%= game.board[1] %></div>
        <div class="col-xs-4"><%= game.board[2] %></div>
      </div>
      <div class="row">
        <div class="col-xs-4"><%= game.board[3] %></div>
        <div class="col-xs-4"><%= game.board[4] %></div>
        <div class="col-xs-4"><%= game.board[5] %></div>
      </div>
      <div class="row">
        <div class="col-xs-4"><%= game.board[6] %></div>
        <div class="col-xs-4"><%= game.board[7] %></div>
        <div class="col-xs-4"><%= game.board[8] %></div>
      </div>
      <% if (game.status === 'waiting') { %>
        <form action="/games/<%= game._id %>/join" method="post">
          <button type="submit" class="btn btn-primary">Join Game</button>
        </form>
      <% } else { %>
        <p>Game in progress</p>
      <% } %>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./game.js"></script>
  </body>
</html>
